.banner {
    padding-left: 20%;
    padding-bottom: 250px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    line-height: 2;
}
p {
    padding-top: 10%;
    font-family: sans-serif;
    font-size: 200%;
    line-height: 0.5;
}

h2 {
    font-weight: bold;
    line-height: 2;
}

dd {
    font-weight: lighter;
    font-family: sans-serif;
    font-size: 150%;
    color: rgb(117, 117, 117);
    line-height: 1.5;
}

.container1 {
    padding-left: 10%;
    text-align: left;
    margin-top: 10px;
    line-height: 2;
}

.page-title {
    margin-top: 10%;
    margin-bottom: 2%;
}

.social-icons a {
    margin-right: 10px;
}

.social-icons1 a {
    margin-right: 10px;
}
