.banner {
    padding-top: 20%;
    padding-bottom: 305px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}
h1 {
    font-family: sans-serif;
    font-size: 350%;
}

h2 {
    font-weight: bold;
}

dd {
    font-family: sans-serif;
    font-size: 110%;
}
