@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;500;700&family=Signika+Negative:wght@300;400;700&display=swap");

/* style.css */

.card-img-top {
    max-height: 200px; /* Adjust the height as needed */
    max-width: 100px;
    object-fit: cover; /* This property scales the image while maintaining its aspect ratio */
    border-radius: 5px;
}

.modal-dialog {
    max-width: 700px;
    height: 50vh;
    margin: auto;
    top: 25%;
    transform: translateY(-50%);
}

.modal-content {
    height: 100%; /* Mengatur tinggi konten modal sebesar 100% dari tinggi modal */
}

.modal-body {
    max-height: calc(
        50vh - 120px
    ); /* Mengatur tinggi maksimum konten modal dengan memperhitungkan header dan footer */
    overflow-y: auto; /* Menambahkan scrollbar vertikal jika konten melampaui tinggi maksimum */
}
h1 {
    font-family: sans-serif;
    font-size: 350%;
}

h2 {
    font-weight: bold;
}

dd {
    font-family: sans-serif;
    font-size: 110%;
}

.row {
    text-align: center;
}

body {
    line-height: 24px;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #777777;
    background: #fff;
}

html,
body {
    height: 100%;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-categories a {
    color: #000;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.sidebar-categories .head {
    line-height: 60px;
    background: #ffffff;
    padding: 0 30px;
    font-size: 16px;
    font-weight: 400;
    color: #000;
}
.sidebar-categories .main-categories {
    padding: 0 80px;
    background: #fff;
    box-shadow: 0 10px 10px rgba(153, 153, 153, 0.1);
}
.sidebar-categories .main-nav-list a {
    font-size: 14px;
    display: block;
    line-height: 50px;
    padding-left: 10px;
    border-bottom: 1px solid #000000;
}

#content-wrapper {
    flex: 1;
}
