.d-flex {
    margin-top: 10px;
    margin-left: 460px;
    margin-right: 100px;
}

.sidebar-categories .head {
    line-height: 60px;
    background: #ffffff;
    padding: 0 30px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}
.sidebar-categories .main-categories {
    padding: 0 30px;
    background: #fff;
    box-shadow: 0 10px 10px rgba(153, 153, 153, 0.1);
}
.sidebar-categories .main-nav-list a {
    font-size: 14px;
    display: block;
    line-height: 50px;
    padding-left: 3px;
    border-bottom: 1px solid #ffffff;
    text-align: left;
}
.sidebar-categories .main-nav-list a:hover {
    color: #ffba00;
}
.sidebar-categories .main-nav-list a .number {
    color: #cccccc;
    margin-left: 10px;
}
.sidebar-categories .main-nav-list a .lnr {
    margin-right: 10px;
    display: none;
}
.sidebar-categories .main-nav-list.child a {
    padding-left: 32px;
}

.table {
    border: #000000;
    border-width: 1px;
    border-style: dashed;
    margin-left: -100px;
}
