.page1 {
    background-image: url('{{ asset("css/images/bg.jpg") }}');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 15px;
    /* Padding agar konten tidak melebihi halaman */
}
.card-body {
    padding: 1.5rem; /* Mengurangi padding di dalam card body */
}

.form-label {
    margin-bottom: 0.5rem; /* Mengurangi margin antara label dan input */
}

.form-control {
    margin-bottom: 1rem; /* Mengurangi margin bawah input */
}

.center-content {
    margin-top: 1rem; /* Memberikan sedikit margin atas pada tombol submit */
}

/* .col-12 {
  opacity: 80%;
  margin-left: auto;
}

.btn-group-lg > .btn,
.btn-lg {
  opacity: 1;
} */
