@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
h1 {
    font-size: 36px;
}
.text-shadow {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Bayangan teks */
}
#header {
    background-image: linear-gradient(
            rgba(255, 255, 255, 0.9),
            rgba(0, 0, 0, 0.3)
        ),
        url("images/bg5.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 75vh;
    position: relative;
}
svg.wave {
    position: absolute;
    bottom: -1px;
}
@media (min-width: 768px) {
    svg.wave {
        display: block;
    }
}
.middle {
    display: flex;
    flex-direction: column; /* Menetapkan tata letak menjadi satu kolom */
    justify-content: center;
    align-items: center;
    height: 50vh;
}
.middle h1 {
    font-size: 56px;
}

.middle h1,
.middle p,
.middle button,
.social-icons i {
    margin-bottom: 16px; /* Ganti nilai ini sesuai kebutuhan Anda */
}

.slide-container {
    max-width: 1000px;
}
.social-container {
    display: flex; /* Menggunakan flex container */
    align-items: center; /* Memposisikan anak-anak secara vertikal di tengah */
}

.follow-container {
    margin-right: 10px; /* Menambahkan jarak antara teks dan ikon */
}

.social-icons {
    display: flex; /* Menggunakan flex container untuk ikon */
    gap: 16px;
}

.follow-text {
    margin: 0; /* Menghilangkan margin default pada teks */
}

.round {
    border-radius: 16px; /* Atur radius border sesuai keinginan Anda */
}
.video-container {
    position: relative;
    display: block;
    width: 60%;
    margin: 0 auto; /* Posisikan ke tengah secara horizontal */
    padding-bottom: 35%; /* Untuk rasio aspek 16:9 */
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 122vh;
    max-height: 70vh;
}
.carousel {
    position: relative;
}

.carousel.pointer-event {
    touch-action: pan-y;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.carousel-inner::after {
    display: block;
    clear: both;
    content: "";
}

.carousel-item {
    position: relative;
    display: none;
    float: left;
    width: 100%;
    margin-right: -100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: transform 0.6s ease-in-out;
}

/* Custom CSS for displaying books in a single row */
#bookCollection {
    display: flex;
    overflow-x: auto;
    /* Allow horizontal scrolling if books exceed the container width */
    padding-bottom: 10px;
    /* Add some bottom padding to separate from other content */
}

.book {
    flex: 0 0 auto;
    /* Let the book cards shrink or grow to fit the available space */
    margin-right: 10px;
    /* Add some right margin to separate the books */
}
